*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background-color: #E0E8FF;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Red Hat Display';
}
.card{
  background-color: white;
  height: 690px;
  width: 450px;
  border-radius: 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 3rem;
  text-align: center;
  
  h1{
    color: #12234A;
    font-weight: 900;
  }
  span{
    color: #A1A4AF;
    font-size: 18px;
  }
}
.plan{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  strong{
    color: #222C49;
  }

  p{
    color: #9A9DAD;
  }
}
.proceed{
  background-color: #382AE1;
  color: white;
  width: 350px;
  height: 55px;
  border-radius: 20px;
  width: 100%;
  font-weight: 900;
  font-size: 17px;
  cursor: pointer;
}
.cancel{
  color: #707791;
  width: 100%;
  background: transparent;
  border: 0;
  font-weight: 900;
  font-size: 17px;
  cursor: pointer;
}